.navbar-default .navbar-toggle {
    border-color: black;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
.navbar-default .navbar-nav>li>a {
    color: black; 
    border-left: none;
}
body 
{
  text-align: center;
  font-size: 16px;
  font-family: 'Comic Sans MS', Helvetica, sans-serif;
}
header
{
	position: relative;
	z-index:100;	
}
.logo
{
	width: 10%;
}
.navbar-default
{
	background: #09A662;
}
section
{
	background-image:url('../img/fondo.gif');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	display: none;
	opacity:0;
}
.fila li
{
	display: inline-block;
	width: 80px;
	border: 3px inset green;
	background-color: #ED4892;
	height: 80px;
	background-color: #A68522;
	margin: 0 auto;
}
.fa
{
	font-size: 50px;
	border: 1px solid white;
	margin: 12px auto;
	color: green;
	background-color: #A68522;
}
#btn-nombres
{
	margin-top:30px; 
}
.form
{
	width: 100%;
	color: white;
	margin: 0 auto;
	padding: 15px 10px;
	border:2px outset green;
	border-radius: 30px;
	background-color: rgba(23,129,86,0.4);
}
.visible
{
	opacity:1;
	display: table;
}
.content
{
	
	display:table-cell;
	vertical-align: middle;
}

#historial,#comentarios
{
	background:#C67625;
}
#historial h2
{
	color:white;
	font-size: 50px;
}
.table
{
	margin-top: 10px;
}
.jugadores span
{
	color: white;
}
#nombres h2
{
	margin-bottom:40px;
	font-size: 40px;
}
#juego h2
{
	margin:20px 0px;
	font-size: 40px;
	color: white;
	font-size: bold;
}
#historial h2
{
	margin:80px 0px 20px 0px;
}
#saludo h1
{
	margin-bottom:80px;
	font-size: 40px;
	color: white;
	font-size: bold;
}
.degradado
{
	margin: 30px 0px 0px 0px;
	padding: 15px 0px ;
	border:2px outset green;
	border-radius: 30px;
	background-color: rgba(23,129,86,0.4);
}
.degradadoGame
{
	margin: 30px 0px 0px 0px;
	padding: 5px;
	border:2px solid green;
	border-radius: 30px;
	background-color: rgba(23,129,86,0.4);
}
#btn-saludo, #btn-nombres
{
	border-radius: 20px;
	font-size: 20px;
	color: white;
	padding: 15px;
	border:1px solid green;
	background-color: green;
	border:1px solid white;
}
#btn-historial, #btn-enviarhistorial, #btnReiniciar
{
	border-radius: 20px;
	font-size: 15px;
	color: white;
	padding: 10px;
	border:1px solid green;
	background-color: green;
	border:1px solid white;
}
#verComentarios , #btnEnviarComentario
{
	border-radius: 20px;
	font-size: 15px;
	color: white;
	padding: 10px;
	border:1px solid green;
	background-color: green;
	border:1px solid white;
}
#comentarios  .form-group, #comentarios  h2
{
	color: white;
}
ul
{
	color: white;
}
.list-group-item
{
	background-color: rgba(23,129,86,0.4);
}