
/*ventajas mucho mas ligero de calcular 
sin importar el tamaño 
encaja correctamente on losmargenes*/
header
{
  position: relative;/*hablita el xindex*/
  z-index:100; /*100 elementos k estan siempre viisbles*//*1000 elemmetos flotantes */
}
section
{
  
background-color: red;
position: absolute;
top: 0px;
left: 0px;
right: 0px;
height: 100%;
width: 100%;
display: table;

}
.content
{
  display: table-cell;
  vertical-align: middle;
  background-color: blue;
}
#saludo h1
{
  margin-bottom: 50px;
  color: black;
}